<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Descripción</h1>
      <h2>Gauss Seidel</h2>
    </div>
  </div>
</div>
<div class="descripcion">
  <p>En análisis numérico el método de Gauss-Seidel es un método iterativo utilizado para resolver sistemas de ecuaciones lineales. El método se llama así en honor a los matemáticos alemanes Carl Friedrich Gauss y Philipp Ludwig von Seidel y es similar al método de Jacobi.
     Aunque este método puede aplicarse a cualquier sistema de ecuaciones lineales que produzca una matriz (cuadrada, naturalmente pues para que exista solución única, el sistema debe tener tantas ecuaciones como incógnitas) de coeficientes con los elementos de su diagonal no-nulos, la convergencia del método solo se garantiza si la matriz es diagonalmente dominante o si es simétrica y, a la vez, definida positiva.</p>
  <p>Es un método iterativo, lo que significa que se parte de una aproximación inicial y se repite el proceso hasta llegar a una solución con un margen de error tan pequeño como se quiera.</p>
</div>

<div class="metdesc" id="bisc">
  <a class="btn btn-primary btn-lg" id="descripcion" href="/gauss_seidel/metodo" role="button">Entrar</a>
</div>
