<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1><small>Facultad de ingenieria </small>UACh</h1>
      <h2>Metodos Numericos</h2>
      <p><a class="btn btn-primary btn-lg" href="/descripcion/index" role="button">Entrar</a></p>
    </div>
  </div>
</div>