<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1><small>Facultad de ingenieria </small>UACh</h1>
      <h2>Metodos Numericos</h2>
    </div>
  </div>
</div>
<div class="descripcion">
  <div class="row">
    <div class="col-md-8"><%= image_tag "Números7.jpg" %></div>
    <div class="col-md-4">
      <p><strong>Profesor:</strong> Oscar Mauricio Borunda Carrasco</p>
      <p><strong>Alumno:</strong>Fransico Javier Torres Romero</p>
    </div>
  </div>
  <p><a class="btn btn-primary btn-lg metdesc" href="/descripcion/index" role="button">Entrar</a></p>
  </div>
</div>