<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Descripción</h1>
    </div>
  </div>
</div>
<div class="descripcion">
    <p>Un método numérico es un algoritmo que intenta resolver una operación matemática compleja en un ordenador. Los motivos por los que se usa un método numérico en vez de intentar una solución analítica pueden ser varios:</p>
    <p>-El problema es muy complejo, y no se puede encontrar una solución analítica en la práctica</p>
    <p>-El problema no tiene solución analítica conocida, pero puede resolverse de manera numérica</p>
    <p>-El tamaño de la solución lo hace impracticable para resolver a mano</p>
</div>


<div class="container-fluid">
    <a class="btn btn-primary btn-lg" href="/biseccion_del_intervalo/index" role="button">Bisección Del Intervalo</a>
    <a class="btn btn-primary btn-lg" href="/gauss_seidel/index" role="button">Gauss Seidel</a>
</div>